

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <!-- main headeer -->
    <div class="containter-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-15 col-12 main_header_right">
                    <figure class="errimg">
                        <img src="images/404.jpg" alt="aman" class="img-fluid" title="Weather ForCast">
                       </figure>
                </div>             
                <h1>{{errorMsg}}</h1>
                 <div class="col-md-6 col-12 main_header_left">
                    <a href="/" target="thapa"><button> Go Back</button></a>
                </div>
            </div>
            </div>
    </div>
    </div>
</body>

</html>